
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif !important;
  background-color: #fefefe !important;
}


a.nav-color{
  text-decoration-line: none !important;
  color: #333333!important;
  text-align: center;
  justify-content: center;
  align-items: center;
}
 nav a:hover{
  color: rgb(35, 161, 35) !important;
}
.navcolor{
  background-color: #fff !important;
  height: 75px !important;
}
.greensad:hover{
border: 1px solid green !important;
}
.greensad{
  border: none;
}
.tx-13{
  font-size: 13px !important;
}
.txs-14{
  font-size: 14px !important;

}
.tx-14{
  font-size: 15px !important;
  font-weight: 900 !important;
}
.txl-14{
  font-size: 14px !important;
  line-height: 34px !important;
  
}
.clr-primary{
  background-color: rgb(35 161 35) !important;
  color:white !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  transition:all .3s ease-in !important;
}
.clr-primary:hover{
  background-color: rgb(35 161 35) !important;
  opacity: 0.8;
 
 }
 .shadowRer{
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%) !important;
  border: solid 2px #e6e6e6 !important;
}

input:focus{
 border:1px solid #e6e6e6 !important;
  box-shadow: none !important;
}
input{
  border:1px solid #e6e6e6 !important;
}
.tx-15{
  font-size: 15px;
}
.icon-color{
  color: rgba(0, 0, 0, 0.425) !important;
}
.icon-color:hover{
  color: red !important;
}
.icon-border{
  border:1px solid green !important;
  border-radius: 500px;
}
.cart-image{
  width: 80px !important;
  height: 100px !important;
}
.count-btn{
  
  border: 1px solid rgb(247, 248, 248) !important;
  border-radius: 0% !important;
  background-color: rgb(247, 248, 248) !important;
  color: rgb(35, 161, 35) !important;
 
}
.count-btn:hover{
  background-color: rgb(35, 161, 35) !important;
  color:#fff !important;
}
.count{
  border-top: 1px rgb(247, 248, 248) solid !important;
  border-bottom: 1px rgb(247, 248, 248) solid !important;
  color:#4a4a4a !important;
}

.primary-color{
  color: rgb(35, 161, 35) !important;
  opacity: 0.9 !important;

}
.primary-colorw{
  color: rgb(35, 161, 35) !important;
  
  font-size: 16px !important;
  font-weight: 900 !important;
}
.primary-bgcolor{
  background-color: rgb(35, 161, 35) !important;
  color:#fff !important
}
.profile-title{
  font-weight: 600 !important;
  font-size: 16px !important;
}
.btn-14{
  font-size: 14px !important;
  color: #fff !important;
  
}
.alert-success{
  background-color: rgb(35, 161, 35) !important;
  font-size: 14px !important;
  color: #fff !important;
  border-radius: 10px !important;
  position: fixed !important;
}
.alert-danger{
  background-color: rgb(224, 21, 48) !important;
  font-size: 14px !important;
  color: #fff !important;
  border-radius: 10px !important;
  position: fixed !important;
}
.favorites:hover{
  color: rgb(35, 161, 35) !important;
}
.link-brand{
  text-decoration: none !important ;
  color: #333333 !important;
}
@media (max-width:768px) {
  .res{
    display: none;
  }
}
@media (min-width:769px) {
  .canvas-btn{
    display: none !important;
  }
}
.filter-btn{
  color: #333333 !important;
  border: 1px solid black !important;
}
.filter-btn:hover{
  background-color: rgb(35, 161, 35) !important;
  border: 1px solid white !important;
  color: white !important;;
}